@{
    ViewData["Title"] = "Home Page";
}

@section AddToHead{
    <link href="@Url.Content("~/css/homepage.css")" rel="stylesheet" type="text/css" />
}

<div class="jumbotron">
    <h1>Event planner</h1>
    <p>Planning an event? Make a schedule with Event Planner! Just click the button below...</p>
    <p><br /></p>
</div>

<div class="text-center">
    <p>Planning events has never been so easy! All you need to do is click on the Create new event button.</p>
    <p class="text-center"><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Event" asp-action="CreateEvent">Create new event</a></p>
    <p>
        Event Planner is powered by <a href="https://foursquare.com">Foursquare</a>, which makes searching the places easier for you.
    </p>
    <div class ="div-spaced">
        <img src="\images\search-places.jpg" class="img-center" alt="Search places with Foursquare">
    </div>
    <p>On the voting page, all places are displayed on a map, so nobody will get lost!</p>
    <div class="div-spaced">
        <img src="\images\map.png" class="img-center" alt="See places on a map.">
    </div>
    <p>You can display the results of voting in a chart or in a table - whichever suits you more.</p>
    <div class="div-spaced">
        <img src="\images\results2.png" class="img-center" alt="See places on a map.">
    </div>
    <p>Enjoy!</p>
</div>

<div class="text-center div-spaced">
    <img src="\images\Powered-by-Foursquare-one-color-300.png" alt="Powered by Foursquare">
</div>

