@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Event planner</h1>
    <p>Planning an event? Make a schedule with Event Planner! Just click the button below...</p>
    <p class="text-center"><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Event" asp-action="CreateEvent">Create new event</a></p>
</div>

<div class="text-center">
    <p>Some decription with examples?</p>
</div>

<div class="text-center">
    <img src="\images\Powered-by-Foursquare-one-color-300.png" alt="Powered by Foursquare">
</div>

