@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>Event Planner</h1>
    <p>Some decription...</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Event" asp-action="CreateEvent">Create new event</a>
</div>

