@using FoursquareVenuesService

<form>
    <input type="text" name="q" maxlength="200" id="headerBarSearch" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">

</form>