@using System.Globalization
@using System.Threading.Tasks
@using EventPlanner.Models
@model EventViewModel

@{

    if (Model == null)
    {
        @Url.Action("Index", "Home", new { CurrentEvent = Model })
        ;
    }

    foreach (var item in Model.TimesAtPlaces)
    {

        @Html.DisplayFor(modelItem => item.Place.PlaceId)               
    }
}


@* Times*@

    @*  <form asp-action="AddSingleTime">
    <div class="form-group">
            <label asp-for="CurrentTime"></label>
            <input class="form-group" asp-for="CurrentTime" type="datetime" />
            <input type="button" value="Add Time" class="btn btn-primary" />

         <input class="form-group" asp-for="CurrentPlace" type="text" hidden="True"/>
        </div>     <input type="submit" value="Next" class="btn btn-primary" />

    </form>


    @* Place *@
    <form asp-action="AddSinglePlace">

        <label asp-for="CurrentCity"></label>
        <input class="form-group" asp-for="CurrentCity" type="text" />

        <label asp-for="CurrentPlace"></label>
        <input class="form-group" asp-for="CurrentPlace" type="text" />

        @* Hidden fields *@

        <input id="foursquareId" class="form-group" asp-for="CurrentPlaceFoursquareId" type="text" hidden="True" />
        <input id="eventId" class="form-group" asp-for="EventId" type="number" hidden="True" />

        @* Add place *@

        <input type="submit" value="Next" class="btn btn-primary" />

    </form>

    @* Submit button *@

