@using System.Globalization
@using System.Threading.Tasks
@using EventPlanner.Models
@model EventViewModel

@{
    if (Model == null)
    {
        @Url.Action("Index", "Home", new { CurrentEvent = Model })
        ;
    }

    foreach (var item in Model.TimesAtPlaces)
    {

        @Html.DisplayFor(modelItem => item.Place.Name)               
    }
}

<form>

    @* Place *@

    <label asp-for="CurrentPlace"></label>
    <input class="form-group" asp-for="CurrentCity" type="text" />
    <input class="form-group" asp-for="CurrentPlace" type="text" />
    <input class="form-group" asp-for="CurrentPlaceFoursquareId" type="number" hidden="True" />

    <input type="button" value="Add Place" class="btn btn-primary" onclick="location.href='@Url.Action("AddCurrentPlace", "Event", new { CurrentEvent = Model })'" />

    @* Times*@

  @*  <div class="form-group">
        <label asp-for="CurrentTime"></label>
        <input class="form-group" asp-for="CurrentTime" type="datetime" />
        <input type="button" value="Add Time" class="btn btn-primary" />
    </div>*@

    @* Submit button *@

    <div class="form-group">
        <input type="submit" value="Next" class="btn btn-primary" />
    </div>
</form>
