@using System.Globalization
@using System.Threading.Tasks
@using EventPlanner.Models
@using FoursquareVenuesService

@model EventViewModel

@if (Model == null)
{
    @Url.Action("Index", "Home", new { CurrentEvent = Model })

}

<script src="../../lib/jquery/dist/jquery.min.js" type="text/javascript"></script>

<h3>Add places and times</h3>

<ul>
    @foreach (var place in Model.Places)
    {
        <li>
            @Html.DisplayFor(modelItem => place.Name)

            <ul>
                @foreach (var time in place.Times)
                {
                    <li>
                        @Html.DisplayFor(modelItem => time.Time)
                    </li>
                }

                @if (Model.CurrentPlaceFoursquareId != "" && place.FourSquareId == Model.CurrentPlaceFoursquareId)
                {
                    <li>
                        @* New time*@
                        <form asp-action="AddSingleTime">

                            <label asp-for="CurrentTime"></label>
                            <input class="form-group" asp-for="CurrentTime" type="datetime2" />

                            @* Hidden fields *@

                            <input id="foursquareId" class="form-group" asp-for="CurrentPlaceFoursquareId" type="text" hidden />
                            <input id="eventId" class="form-group" asp-for="EventId" type="number" hidden />

                            @* Add time *@

                            <input type="submit" value="Add time" class="btn btn-primary" />

                        </form>
                    </li>
                }
            </ul>

        </li>
    }
</ul>

@* New Place *@
<form asp-action="AddSinglePlace" form class="form-inline" id="lol">

    <div class="form-group">
        <label>City: </label>
        <input class="form-control" id="PlaceCity" />
    </div>

    <div class="form-group">
        <label>Place:</label>
        <input class="form-control" id="PlaceName" type="text" />
    </div>

    <div class="form-group">
        <select id="ddlplaces" class="form-control" name="CurrentPlaceFoursquareId" style="width: 200px" ></select>
    </div>

    @* Hidden fields *@
    <input id="eventId" asp-for="EventId" type="number" hidden />

    @* Submit button *@
    <input type="submit" value="Add place" class="btn btn-primary" />

</form>



<script>
    function GetPlaces(placename, placecity) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlplaces").html(procemessage).show();
        var url = "/Event/GetPlaces/";

        $.ajax({
            url: url,
            data: { placeName: placename, placeCity: placecity },
            cache: false,
            type: "POST",
            success: function (data) {
                console.log(data);
                var markup = "<option value='0'>Select Place</option>";
                for (var x = 0; x < data.length; x++) {
                    console.log(data[x].text);
                    markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                }
                $("#ddlplaces").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    $(document).ready(function () {
        $('#PlaceName').change(function () {
            if ($('#PlaceCity').val() && $('#PlaceName').val()) {
                GetPlaces($('#PlaceName').val(), $('#PlaceCity').val());
            }
        });
        $('#PlaceCity').change(function () {
            if ($('#PlaceCity').val() && $('#PlaceName').val()) {
                GetPlaces($('#PlaceName').val(), $('#PlaceCity').val());
            }
        });
    });
</script>

