@{
    ViewData["CreateAndVote"] = "Event";
    ViewData["Title"] = "Create event";
}

<html>

<head>
    <title>Create new event</title>
</head>

<body>

<h3>Create new event</h3>

<form id="newEvent">

    @* Title and description fields *@
    <div class="form-group">
        <label for="fieldTitle">Event title</label>
        <input class="form-control" id="fieldTitle" name="Title" type="text">
    </div>

    <div class="form-group">
        <label for="fieldDescription">Event description</label>
        <input class="form-control" id="fieldDescription" name="Description" type="text">
    </div>

    @* Dynamic adding of places/times *@

    <div class="form-group" id="places">
        <!-- This element's contents will be replaced with AddPlacesAndTimes script. -->
    </div>

    @* Send button and validation *@

    <button class="btn btn-primary" type="submit">Submit</button>
</form>

@* Scripts *@

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="@Url.Content("~/js/AddPlacesAndTimes.jsx")"></script>
</body>
</html>