@using System.Threading.Tasks
@using EventPlanner.Models
@model CreateEventViewModel

@{  
    ViewData["Title"] = "Create event";
}

<form asp-action="CreateNewEvent">
    @* Event title *@
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-group" asp-for="Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    @* Event description *@
    <div class="form-group">
        <label asp-for="Description"></label>
        <input  class="form-group"asp-for="Description"/>
    </div>
    
    @* Submit button *@

    <div class="form-group">
        <input type="submit" value="Create event" class="btn btn-primary"/>
    </div>
</form>