@using System.Threading.Tasks
@model EventPlanner.Models.Event.CreateEventViewModel

<div class="img-right">
    <img src="~/images/party-04.jpg" />
</div>
<h1>Create new event</h1>
<br />
<div class="row">
    <form asp-action="CreateNewEvent" class="col-md-4">

        @* Event title *@
        <div class="form-group">
            <label asp-for="EventName"></label>
            <input class="form-control" asp-for="EventName" />
            <span asp-validation-for="EventName" class="text-danger"></span>

            @if (Model.Error != "")
            {
                <div class="err">
                    @Model.Error
                </div>
            }
        </div>
        @* Event description *@
        <div class="form-group">
            <label asp-for="EventDescription"></label>
            <input class="form-control" asp-for="EventDescription" />
        </div>
        @* Submit button *@
        <div class="form-group">
            <input type="submit" value="Next" class="btn btn-primary" />
        </div>
    </form>
</div>