
@model EventViewModel

@if (Model == null)
{
    Url.Action("Index", "Home", new { CurrentEvent = Model });
}


<div align="center">
    <h2>@Model.EventName</h2>
    <br />
    <p>
        @Model.EventDescription
    </p>
</div>

<div style="max-width: 100%;">
    <img src="\images\toast.jpg" alt="Powered by Kentico.">
</div>

<div align="center">
    <h1>Congratulations! You have successfuly created an event and can now start voting.</h1>
    <br />
    <br />
    <h3>You can use <a asp-controller="Vote" asp-action="Index" asp-route-token="@Model.EventId">this link</a> to vote!</h3>
</div>
